[submodule "externals/compare"]
	path = externals/compare
	url = https://github.com/tcanich/compare
[submodule "externals/json-fortran"]
	path = externals/json-fortran
	url = https://github.com/jacobwilliams/json-fortran
