language: shell

os:
  - linux
  - windows

before_install:
- |-
  case $TRAVIS_OS_NAME in
    windows)
      [[ ! -f C:/tools/msys64/msys2_shell.cmd ]] && rm -rf C:/tools/msys64
      choco uninstall -y mingw
      choco upgrade --no-progress -y msys2
      export msys2='cmd //C RefreshEnv.cmd '
      export msys2+='& set MSYS=winsymlinks:nativestrict '
      export msys2+='& C:\\tools\\msys64\\msys2_shell.cmd -defterm -no-start'
      export mingw64="$msys2 -mingw64 -full-path -here -c "\"\$@"\" --"
      export msys2+=" -msys2 -c "\"\$@"\" --"
      $msys2 pacman --sync --noconfirm --needed base-devel
      $msys2 pacman --sync --noconfirm --needed mingw-w64-x86_64-toolchain
      $msys2 pacman --sync --noconfirm --needed mingw-w64-x86_64-gcc
      $msys2 pacman --sync --noconfirm --needed mingw-w64-x86_64-cmake
      taskkill //IM gpg-agent.exe //F  # https://travis-ci.community/t/4967
      export PATH=/C/tools/msys64/mingw64/bin:$PATH
      export MAKE=mingw32-make  # so that Autotools can find it
      ;;
  esac

before_cache:
- |-
  case $TRAVIS_OS_NAME in
    windows)
      # https://unix.stackexchange.com/a/137322/107554
      $msys2 pacman --sync --clean --noconfirm
      ;;
  esac

cache:
  directories:
    - $HOME/AppData/Local/Temp/chocolatey
    - /C/tools/msys64



addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - gfortran-7
before_script:
  - export DISTROOT=. BUILDROOT=../build CMAKE=cmake
  - $mingw64 ./scripts/build-json-fortran.sh
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then FC=gfortran-7 cmake -H$DISTROOT -B$BUILDROOT ; fi
  - if [[ "$TRAVIS_OS_NAME" == "windows" ]]; then cmake -H$DISTROOT -B$BUILDROOT -G "MinGW Makefiles"; cp $BUILDROOT/json/libjsonfortran.dll $BUILDROOT/bin; fi
  - cmake --build $BUILDROOT
script:
  - cd $BUILDROOT
  - ./bin/config
  - ctest
notifications:
  email: false
after_success:
 - bash <(curl -s https://codecov.io/bash)
